*{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	box-sizing:border-box;
}
html{
	font-size:1em;
	background-color:#262626;
	color:#d9d9d9;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	font-family:arial, sans-serif;
	line-height:1.313em;
}
h1{
	font-size:3em;
	margin:0.563em 0;
}
h2{
	font-size:2.25em;
	margin:0.625em 0;
}
h3{
	font-size:1.5em;
	margin:1.313em 0;
}
h4{
	font-size:1.313em;
	margin:1.313em 0;
}
h5{
	font-size:1.125em;
	margin:1.313em 0;
}
h6{
	font-size:1em;
	margin:0.75em 0;
}
.smallscreen{
	display:none;
}
.content{
	font-size:1.875rem;
	color:#262626;
	background-size:49% auto;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

.separator{
	font-size:1.875rem;
	padding:1.618em 0;
	text-align:center;
}
.right{
	padding:1.618em 6.472em 3.236em 50%;
	background-position:0 50%;
}
.left{
	padding:1.618em 50% 3.236em 6.472em;
	background-position:100% 50%;
}
.illustration_01{
	background-color:#00c17b;
	background-image:url('../images/minipadwhite.png');
}
.illustration_02{
	background-color:#E8697B;
	background-image:url('../images/minipadblack.png');
}
.illustration_03{
	background-color:#14B199;
	background-image:url('../images/miniwhite.png');
}
.illustration_04{
	background-color:#80B9F1;
	background-image:url('../images/miniblack.png');
}

@media screen and (max-width:959px){
	.content, .separator{
		font-size:1.125rem;
	}
	.smallscreen{
		display:block;
	}
	.right{
		padding:1.618em 3.236em;
		background-image:none;
	}
	.left{
		padding:1.618em 3.236em;
		background-image:none;
	}
	
}






